{
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "singleQuote": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "trailingComma": "all",
  "arrowParens": "always",
  "importOrderSeparation": true,
  "importOrder": [
    "^src/(api|constants|contexts|query|hooks|utils)/?(.*)$",
    "^src/([A-Z]|containers|components|pages|modals)/?(.*)$",
    "^src/(assets|styled|i18n)/?(.*)$",
    "^[./]"
  ]
}
